* { 
  text-align: center;
  font-family: fantasy;
}

/* TOP HEADER */

#top-header {
  font-size: 30px;
  position: relative;
  padding-top: 16px;
  padding-bottom: 16px;
  text-align: center;
  color: whitesmoke;
}

#txt-inside-header{
  text-align: center;
}

/* ANIMES CONTAINER  */

section{
  max-width: 1100px;
  margin: 16px auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.anime-container{
  border: 5px solid white;
  background-color: midnightblue;
  box-sizing: border-box;
  color: whitesmoke;
  margin-bottom: 40px;
}

#new-anime-container{
  border: 5px solid white;
  background-color: midnightblue;
  box-sizing: border-box;
  color: whitesmoke;
}

button:hover{
  opacity: 1;
  transition: .9s;
  color: midnightblue;
}

.anime-info {
  width: 250px;
  height: 100px;
  margin-top: 12px;
  margin-bottom: 16px;
}

  .anime-title{
    font-size: 28px;
    padding-bottom: 8px;
    margin: 0px;
    text-align: center;
  }

  .anime-creator{
    font-size: 18px;
    margin: 0px;
    text-align: center;
    font-weight: lighter;
  }

/* ADD ANIME REVIEWS STYLE */

.review-info{
  width: 250px;
  height: 266px;
  margin-top: 16px;
  margin-bottom: 16px;
  padding-top: 12px;
}

.review-header{
  font-size: 20px;
  padding-bottom: 8px;
  margin: 5px;
  text-align: center;
}

  p{
   font-size: 18px;
   text-align: center;
  }

  /* NEW ANIME CONTAINER */

  #new-anime-container{
    max-width: 1100px;
    margin: auto;
    margin-bottom: 50px;
    margin-top: 50px;
    padding-bottom:16px;
    text-align:center;
    background-color: light-grey;
  }

  h2{
    min-height: 50px;
    margin-bottom: 0px;
    vertical-align: middle;
  }

  #new-review-container{
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 5px solid white;
    background-color: midnightblue;
    color: whitesmoke;
    z-index: 9;
    width:550px;
    height:250px;
    text-align:center;
    padding: 20px;
  }

  #new-review-reviewer{
    height: 40px;
    width: 100%;
  }

  #new-review-body{
    height: 80px;
    width: 100%;
  }

  #buttons{
    padding: 20px;
  }

body {
  background-image: url("https://cdn.statically.io/img/hdqwalls.com/wallpapers/anime-boy-swing-umbrella-4k-gc.jpg");
  background-size: cover;
}